.btn {

  width: 100px;
  border: 2px solid rgb(56, 46, 201);
  padding: 10px;
  margin-left: 50%;
}

h3 {
    text-align: center;
}

.bod {
    border: 2px solid rgb(11, 11, 11);
    padding: 10px;
}
.m {
  font-weight: bold;
}